<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.co.bootpay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <innerActivity android:name=".BootpayInnerActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="app2app" android:scheme="bootpay" />
            </intent-filter>
        </innerActivity>
    </application>

</manifest>
