<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.bootpay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".bio.activity.BootpayBioActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Transparent" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".bio.activity.BootpayBioWebviewActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustResize"/>
    </application>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- android 11 모든 앱 접근 권한 사용  (Google Play 가이드라인 참고 - 2021-02-19 기준 못찾았음) -->
    <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />-->
    <!-- android 11 Package Visibility 설정 (compileSdkVersion, targetSdkVersion 30 이상 설정시 필수) -->
    <!-- 2021-02-19 -->
        <queries>
            <!-- 다날[신한, BC(페이북), 국민, 현대, 삼성, 하나, 롯데, 농협, 우리, 씨티, 페이코, 삼성페이, 카카오페이, 뱅크페이, SSG페이, 스마일페이, 엘페이] -->
            <!-- KCP [페이코, 현대, BC(페이북), 롯데, 국민, 농협, 삼성, 신한, 우리, 하나, 씨티] -->
            <!-- 이니시스 [카카오페이, 네이버페이, 신한, 하나, 현대, 삼성, 국민, BC(페이북), 농협, 롯데, 씨티, 페이코, 엘페이, SSG페이, 차이, 토스, 삼성페이] -->
            <!-- 나이스페이 [신한, 국민, 삼성, BC(페이북), 롯데, 현대, 하나 농협, 씨티, 우리] -->
            <!-- 토스페이먼츠 [현대, 신한, 페이북, 국민, 삼성, 롯데, 농협, 우리] -->
            <!-- 이지페이 [현대, 하나, 국민, 롯데, 삼성, BC(페이북) 신한, 하나, 농협, 씨티, 우리, 페이코] -->
            <!-- 티페이 [BC(페이북), 국민, 하나, 삼성, 신한, 현대, 롯데, 농협, 씨티, 우리] -->
            <!-- 페이레터 [BC(페이북), 국민, 하나, 삼성, 신한, 현대. 롯데, 농협, 씨티, ] -->
            <!-- 월컴페이먼츠 [카카오, 엘페이, 현대, BC(페이북), 국민, 삼성, 신한, 롯데, 농협, 하나, 씨티, 하나, 우] -->

            <!-- 신한카드 -->
            <package android:name="com.shcard.smartpay" />

            <!-- BC 페이북 -->
            <package android:name="kvp.jjy.MispAndroid320" />

            <!-- 국민카드 -->
            <package android:name="com.kbcard.kbkookmincard" />
            <package android:name="com.kbcard.cxh.appcard" />

            <!-- 현대카드 -->
            <package android:name="com.hyundaicard.appcard" />

            <!-- 삼성카드 -->
            <package android:name="kr.co.samsungcard.mpocket" />

            <!-- 하나카드 -->
            <package android:name="kr.co.hanamembers.hmscustomer" />
            <package android:name="com.hanaskcard.paycla" />

            <!-- 롯데카드 -->
            <package android:name="com.lcacApp" />

            <!-- 농협카드 -->
            <package android:name="nh.smart.nhallonepay" />

            <!-- 우리카드 -->
            <package android:name="com.wooricard.wpay" />

            <!-- 씨티은행 -->
            <package android:name="kr.co.citibank.citimobile" />

            <package android:name="com.nhnent.payapp" /> <!-- 페이코 -->
            <package android:name="com.samsung.android.spay" /> <!-- 삼성페이 -->
            <package android:name="com.kakao.talk" /> <!-- 카카오페이 -->
            <package android:name="com.kftc.bankpay.android" /> <!-- 뱅크페이 -->
            <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> <!-- SSG 페이 -->
            <package android:name="com.mysmilepay.app" /> <!-- 스마일 페이 -->
            <package android:name="com.lotte.lpay" /> <!-- 엘페이 -->
            <package android:name="finance.chai.app" /> <!-- 차이 -->
            <package android:name="viva.republica.toss" /> <!-- 토스 -->

            <!-- 보안앱 -->
            <package android:name="com.TouchEn.mVaccine.webs" /> <!-- 신한, 씨티 -->
            <package android:name="kr.co.shiftworks.vguardweb" /> <!-- 삼성  -->
            <package android:name="com.ahnlab.v3mobileplus" /> <!-- 하나, 농협, 우리, 국민 리브  -->

            <!-- 휴대폰 결제 -->
            <package android:name="com.kt.ktauth" /> <!-- KT 본인인증 -->
            <package android:name="kr.danal.app.damoum" /> <!-- 다모음 -->
            <package android:name="uplus.membership" /> <!-- U+ 멤버스 -->

            <!-- 계좌이체 -->
            <package android:name="com.knb.psb" /> <!-- BNK 경남은행 모바일뱅킹 -->
            <package android:name="kr.co.kfcc.mobilebank" /> <!-- MG상상뱅크 -->
            <package android:name="com.nh.cashcardapp" /> <!-- MG상상뱅크 -->
            <package android:name="com.kbstar.liivbank" /> <!-- 국민 리브 -->
            <package android:name="com.nh.cashcardapp" /> <!-- NH앱캐시 -->


</queries>



    </manifest>
